:root {
    --primary-white: #9da0a7;
    --secondary-white: #a79cea;
    --primary-blue: #131723;
    --secondary-blue: #5741d9;
    --primary-gray: #3d4250;
    --primary-red: #83282f;
    --primary-green: #10845e;
}