.table{
    width: 100%;
    &__header{
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid var(--primary-gray);

        &-column{
            color: var(--primary-gray);
            font-size: 18px;
            font-weight: 500;
        }
    }

    &__row{
        display: flex;
        width: 100%;
        justify-content: space-around;
        position: relative;
        
        &-background {
            position: absolute;
            top: 0;
            height: 100%;
            &--green{
                right: 0;
                background-color: var(--secondary-green);
            }
    
            &--red{
                left: 0;
                background-color: var(--secondary-red);
            }
            &--left{
                left:0
            }
        }

        &-column{
            font-weight: 500;
            padding: 4px 0;
            color: var(--primary-white);
            position: relative;
            z-index: 1;
            &--green{
                color: var(--primary-green);
            }
            &--red{
                color: var(--primary-red)
            }
        }
    }
}